<div class="container text-center">
  <%- include('partials/header') -%>
  <h1><%= Items.title %></h1>
  <img src="<%= Items.image %>" alt="<%= Items.title %>" width="700px" height="350px">
  <p><%- Items.content %></p>
  <p>Date : <%= Items.date %></p>
  <div class="row">
    <div class="col-sm-4">
      <a
        href="/compose/<%= Items._id %>"
        class="btn btn-warning btn-lg btn-block"
        role="button"
        aria-pressed="true"
        >Edit</a
      >
    </div>
    <div class="col-sm-4">
      <a
        href="/"
        class="btn btn-primary btn-lg btn-block"
        role="button"
        aria-pressed="true"
        >Back</a
      >
    </div>
    <div class="col-sm-4">
      <form action="/compose/<%= Items._id %>?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-danger btn-lg btn-block">Delete</button>
      </form>
    </div>
  </div>
</div>

<!-- <%- include('partials/footer') -%> -->
